export(as.rules)
export(datadict.profile)
export(has.punct)
export(has.ruleErrors)
export(heatmap.quality)
export(is.datadict.profile)
export(is.oneOf)
export(is.onlyLowers)
export(is.properName)
export(is.withinRange)
export(pkg.version)
export(prep4rep)
export(read.rules)
export(ruleCoverage)
export(runDatacheck)
export(scoreSum)
export(shortSummary)
